.heading_element {
    color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragragh_element {
    color: #9EA0A5;
    font-size: 14px;
    font-weight: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading_title_card {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}