<div class="student_dashbord_row" style="background-color: #F7F8FC;">
    <div class="side_nav">
        <div class="logo_of_student">
            <img class="logo_of_student_img" src="assets/images/student_profile_pic.png" >
        </div>
        <div class="subjects">
            
                <p class="subjects_bdr">
                    Subjects
                </p>
                            
        </div>
        <div class="subject1">
            <a href="/">
                <p  class="original_subs">
                    {{subject1}}
                </p>
            </a>
            

        </div>
        <div class="subject2">
            <a href="/">
            <p class="original_subs">
                {{subject2}}
            </p>
        </a>

        </div>
        <div class="subject3">
            <a href="/">
            <p class="original_subs">
                {{subject3}}
            </p>
        </a>

        </div>
        <div class="subject4">
            <a href="/">
            <p class="original_subs">
                {{subject4}}
            </p>
        </a>

        </div>
        <div class="subject5">
            <a href="/">
            <p class="original_subs">
                {{subject5}}
            </p>
        </a>


        </div>
        <div class="subject6">
            <a href="/">
            <p class="original_subs">
                {{subject6}}
            </p>
        </a>

        </div>
    </div>
    <div class="main_part" >
        <div class="overView">
            <p>
                OverView
            </p>
        </div>
        <div class="parent_graph_card">
            <div class="Graph_card">
                <div class="line_graph">
                    <app-line-graph>
    
                    </app-line-graph>
                </div>
                <div class="pie_graph">
                    <app-pie-graph>
                    
                    </app-pie-graph>
                </div>
            </div>
        </div>





      <div class="per_mid_att">

        <div class="per_mid_att_part1">
            <div class="sem_percentage">
                <h2>
                    Total Percentage
                </h2>
                <h1>
                    {{total_percentage}}
                </h1>
            </div>
            <div class="mid1">
                <h2>
                    Mid-1
                </h2>
                <h1>
                    {{mid1_marks}}
                </h1>
            </div>
        </div>
        <div class="per_mid_att_part1">
            <div class="mid2 abs">
                <h2>
                    Mid-2
                </h2>
                <h1>
                    {{mid2_marks}}
                </h1>
    
            </div>
            <div class="attendence">
                <h2>
                    Attendence
                </h2>
                <h1>
                    {{attendence}}
                </h1>
            </div>
        </div>

      </div>

      <div class="per_mid_att">

        <div class="per_mid_att_part1">
            <div class="sem_percentage">
                <h2>
                Weekly-1
                </h2>
                <h1>
                    {{weeklytest1}}
                </h1>
            </div>
            <div class="mid1">
                <h2>
                    Weekly-2
                </h2>
                <h1>
                    {{weeklytest2}}
                </h1>
            </div>
        </div>
        <div class="per_mid_att_part1">
            <div class="mid2 abs">
                <h2>
                    Weekly-3
                </h2>
                <h1>
                    {{weeklytest3}}
                </h1>
    
            </div>
            <div class="attendence">
                <h2>
                    Weekly-4
                </h2>
                <h1>
                    {{weeklytest4}}
                </h1>
            </div>
        </div>

      </div>





    </div>
</div>