.username1
{
    width: 290px;
    height : 10px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
    
}
.email1
{
    width: 290px;
    height: 10px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
}
.password1
{
    width: 290px;
    height: 10px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
}
.username
{
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin: 30px;
}
.password
{
  padding-top: 5px;
  padding-bottom: 0px;
  padding: 20px;
  margin: 30px;
  margin-top:0px;
}
.email
{
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}